[Unit]
Description=libvirtd container
Documentation=https://build.opensuse.org/package/show/home:RobinR1:containers/libvirtd
After=network-online.target

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=/etc/sysconfig/container-libvirtd
ExecStartPre=-/usr/bin/mkdir -p ${STORAGE_POOL_DIR} ${QEMU_CONFIG_DIR}
ExecStartPre=-/usr/bin/podman stop libvirtd
ExecStartPre=-/usr/bin/podman rm libvirtd
ExecStartPre=-/usr/bin/podman pull ${LIBVIRTD_IMAGE_PATH}
ExecStart=/usr/bin/podman run --rm --privileged --net=host -v /sys/fs/cgroup:/sys/fs/cgroup:rw -v ${STORAGE_POOL_DIR}:/var/lib/libvirt/ -v ${QEMU_CONFIG_DIR}:/etc/libvirt/qemu -v ${SSH_USERCONFIG_DIR}:/root/.ssh -v ${SECRETS_DIR}:/etc/libvirtd-secrets --env ROOT_PASSWORD_FILE=/etc/libvirtd-secrets/ROOT_PASSWORD --env SSHD_PORT=${SSHD_PORT} --name libvirtd ${LIBVIRTD_IMAGE_PATH}
ExecStop=/usr/bin/podman stop -t ${SHUTDOWN_TIMEOUT} libvirtd
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target
